<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m039.beacon.keeper.library"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application>
      <service
          android:name="com.m039.beacon.keeper.service.BeaconService"
          >
      </service>
    </application>

</manifest>
