<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0" package="com.m039.beacon.keeper.app">

  <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="19"/>

  <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

  <application android:allowBackup="true"
               android:icon="@drawable/ic_launcher"
               android:label="@string/app_name"
               android:name="com.m039.beacon.keeper.app.MainApplication">

    <activity android:name="com.m039.beacon.keeper.activity.BeaconsActivity"
              android:theme="@style/Theme.Main"
              >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- <activity android:name="com.m039.beacon.keeper.activity.MainActivity" -->
    <!--           android:theme="@style/Theme.Main" -->
    <!--           > -->
    <!--   <intent-filter> -->
    <!--     <action android:name="android.intent.action.MAIN"/> -->
    <!--     <category android:name="android.intent.category.LAUNCHER"/> -->
    <!--   </intent-filter> -->
    <!-- </activity> -->

    <activity android:name="com.m039.beacon.keeper.activity.MainOldActivity"/>

    <activity android:name="com.m039.beacon.keeper.activity.BeaconInfoActivity" />
    <activity android:name="com.m039.beacon.keeper.activity.SettingsActivity" 
              android:theme="@style/Theme.Settings"
              />
    <activity android:name="com.m039.beacon.keeper.activity.AboutActivity" 
              android:theme="@style/Theme.About"
              />

    <service android:name="com.m039.beacon.keeper.service.BeaconService"/>

  </application>

</manifest>
