target
bin
gen
.classpath
.project
.settings
.idea
.factorypath
*.iml
.gradle
sandbox
doc/TodoDesign.md
design
beacon-keeper.apk
release.keystore
sign.sh
doc/
pom_back.xml
*.sig
beacon-keeper-app/gen-external-apklibs/